<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true">
    <suite-files>
        <suite-file path="./src/test/resources/xml/WriteFeatureFiles.xml"/>
        <suite-file path="./src/test/resources/xml/RunFeatureFiles.xml"/>
    </suite-files>
</suite> <!-- Suite -->